{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint",
      "prettier",
      "spellcheck"
    ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
  ],
  "rules": {
    "no-console": 1,       // Means warning
    "prettier/prettier": 2, // Means error
       "spellcheck/spell-checker": ["warn", {
            "skipWords": [
              "vh",
              "vw",
              "po",
              "doi",
              "ph", 
              "cv",
              "axios",
              "english"
            ]
          }
        ]

  }
  
}
